@font-face{
  font-family: 'Visby';
  src: url('/fonts/VisbyCF-Thin.otf')format('opentype'), 
       url('/fonts/VisbyCF-Bold.otf') format('opentype'), 
       url('/fonts/VisbyCF-Medium.otf')format('opentype'),
}

:root {
  --yellow: #eabe02;  
  --green: #2ad32d;  
  --blue: #0055e2;
  --red: #f74c26;
  --box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  --liner-blue: linear-gradient(0.100turn, #0055e2, #719adb);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Visby', Helvetica, sans-serif !important;
}

body{
  font-family: 16px;
  background-color: #ededed;
}

h3, h4 {
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
  font-weight: normal;
}

.message {
  padding: 0 20px;
  position: fixed;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: solid 3px #fff;
  border-top: 0px;
  top: 0px;
  left: 50%;
  color: #000;
  background-color: var(--green);
  z-index: 1;
  transform: translate(-50%, -100%);
  transition: transform .3s ease-in-out;
}

.message.show {
  transform: translate(-50%, 0);
}

header {
  width: 100%;
  padding: 0px 70px;
  background: var(--liner-blue);
  border-bottom: 3px solid var(--red);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: inherit;
  height: 80px;
  padding-top: 10px;
}

header a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}

.container {
  margin: 30px 50px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

.main > aside {
  flex: 1;
  padding-right: 20px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.side__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: #fff;
}

.side__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
  padding: 0px 20px;
}

.line {
  background-color: orangered;
  height: 2px;
  width: 90%;
}

.side__container:nth-child(3) {
  width: 60px;
  height: 40px;
}

.side__main img, 
.side__main h3{
  margin-bottom: 20px;
  color: orangered;
}

.side__main img {
  width: 60px;
  height: 50px;
  display: block;
  fill: var(--blue);
}

.side__main p {
  color: #242323;
  font-size: 16px;
  text-align: center;
  margin: 0 !important;
  letter-spacing: 1px;
}

.side__container::after {
  content: '';
  position: absolute;
  left: 30;
  bottom: -10;
  height: 120%;
  background: #fff;
  z-index: -1;
  transform: skewY(6deg);
  transform-origin: top right;
  width: 85%;
}

.container__main {
  flex: 2.8;
}

textarea {
  width: 100%;
  height: 320px;
  padding: 15px 15px;
  color: #000000;
  font-size: 18px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  outline: 0;
  resize: none;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.2);
}

.textarea__wrapper-quantities {
  background: var(--liner-blue);
  margin-top: -5px;
  color: #fff;
  padding: 10px 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: var(--box-shadow);
}

.textarea__wrapper-textarea.bold {
  font-weight: bold;
}

.textarea__wrapper-textarea.italic {
  font-style: italic;
}

.textarea__wrapper-quantities > p {
  display: inline;
  margin-right: 30px;
  margin-bottom: 30px;
  font-weight: normal;
}

.btn {
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
  margin: 10px 10px 0 0;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  border: 3px #fff solid;
  box-shadow: var(--box-shadow);
  transform: scale(1.0);
}

.btn:active {
  transform: scale(0.97);
}

.btn-size {
  width: 161px;
}

.btn:focus {
  outline: none;
}

.btn-blue {
  background-color: var(--blue);
}

.btn-green {
  background-color: var(--green);
}

.btn-yellow {
  background-color: var(--yellow);
}

.btn-red {
  background-color: var(--red);
}

.google__announcement {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 70px 0px 0px 50px;
}

.gooole__announcement--box {
  width: 300px;
  height: 200px;
  background-color: #888585;
  margin-right: 15px;
  margin-bottom: 15px;
}

.welcome-container {
  margin: 40px -50px 0px auto;
  padding: 0px 50px;
  height: 600px;
  z-index: 2;
}

.welcome {
  text-align: center;
  padding: 40px 10px 20px;
}

.welcome h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.welcome p {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.line-black {
  background-color: #000000;
  height: 4px;
  margin: auto;
  margin-bottom: 90px;
}

.texts__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 90px; 
  margin: 40px 100px;
  height: fit-content;
}

.texts__container-text {
  text-align: center;
}

.texts__container-text h2 {
  margin-bottom: 10px;
}

.texts__container-text p {
  letter-spacing: 3px;
}

.container-robot {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 250px 0px 120px;
}

.robot {
  max-width: 80vw;
  height: 80vh;
}

footer {
  background: var(--liner-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 50px;
  border-top: 3px solid var(--red);
  margin-bottom: -18px; /*it takes off white space after footer*/
}

.logo img {
  width: 500px;
}

.authors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  color: white;
  font-weight: 600;
}

.authors p a {
  text-decoration: none;
  color: var(--green);
}

.authors p a:hover {
  color: #fff;
}

@keyframes show-message {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  section {
  width: 100vw;
  }

  aside {
  width: 100%;
  padding: 0;
  }

  .container__main {
  width: 100%;
  }

  .google__announcement {
    flex-direction: column;
  }

  .gooole__announcement--box {
    left: 50%;
  }
}